body{
 font-family: 'Poppins', sans-serif;
 margin: 0;
}

.welcome-color{
        background-image: linear-gradient(orange,red);
        border-radius : 20px;
        padding: 5px;
}
#text-center{
    text-align: center;
}
.border{
    margin-top : 50px;
}
#enjoy-color{
    color: orange;
}
.the-beauty{
    color: gray;
}
.background-color{
    background-image: linear-gradient(orangered , orange);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: bold;
}

.font-size{   
     font-size: 50px;
     margin-top: 200px;

}
.width{
    width: 100%;
    margin: 50px;
    height: 50%;

}

.display-flex{
    display: flex;

}
#width img{
    width: 50%;
    margin: 50px;
    height: 80%;
    padding-left: 50px;
    padding-bottom: 50px;
}
#font-size{
    font-size: 50px;
    padding-top: 50px;
}